* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  color: #dedede;
  background-color: #031926;
}

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.header {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.navbar { width: 25%; padding-top: 20px; }

.h1-container { padding: 10px 10px 30px; }

.hover h1 {
  font-family: sans-serif;
  font-size: 48px;
  line-height: 40px;
  text-transform: uppercase;
  cursor: pointer;
  transition: .3s linear;
  color: transparent;
  -webkit-text-stroke: 1px #B70F19;
}

.hover h1:hover { color: #B70F19; text-shadow: 0 0 20px #B70F19, 0 0 30px #B70F19, 0 0 40px #B70F19; }

.menu {
  display: flex;
  flex-direction: column;
  height: 110px;
}

.menu div { display: flex; }

.menu div i {
  font-size: 18px;
  padding-right: 15px;
  padding-left: 20px;
  color: #0B4D99;
}

.menu div:hover { cursor: pointer; }

.playlist .bi { color: #B70F19; }

.canciones { width: 75%; background-color: #171717; }

.play-container {
  padding: 50px 0 0 120px;
  width: 85%;
  background-color: #171717;
}

.play-container .play {
  padding-right: 1rem;
  padding-bottom: 30px;
  font-size: 18px;
  background-color: #171717;
}

.play-container div { background-color: #171717; }

.playsong {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#track-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}

#track-list img {
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 10px;
}

.duration h3 { text-align: end; color: #707070; }

.list {
  width: 100%;
  height: 378px;
  overflow: auto;
}

.list::-webkit-scrollbar { display: none; }

.list div .name { font-size: 12px; background-color: #171717; }

.title { transition: .3s linear; }

.title:hover {
  color: #B70F19;
  text-shadow: 0 0 5px #B70F19, 0 0 10px #B70F19, 0 0 20px #B70F19;
  transform: scale(1.1);
}

.list div .name:last-of-type {
  font-size: 12px;
  color: #707070;
  background-color: #171717;
}

.reproduccion {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  padding: 0 70px;
}

 .current {
  position: absolute;
  top: 270px;
  left: 10px;
  min-width: 20%;
  height: 70px;
}

 .current img {
  position: absolute;
  top: 40px;
  left: 70px;
  height: 160px;
  border-radius: 100px;
}

 .current .song h3 {
  font-size: 12px;
  min-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#current-song-title {
  position: absolute;
  top: 210px;
  left: 70px;
}

#current-song-author {
  position: absolute;
  top: 225px;
  left: 70px;
}

.reproduccion .current i { cursor: pointer; }

.listening { font-weight: bold; padding-left: 10px; }

.artist {
  font-size: 10px;
  color: #707070;
  text-overflow: ellipsis;
  white-space: nowrap;
} 

#barra {
  padding: 0 30px;
  width: 100%;
  position: relative;
  top: 20px;
}

#barra .botones {
  display: flex;
  justify-content: center;
  align-items: center;
}

.botones button { border: none; cursor: pointer; }

.botones button img { height: 18px; padding: 0 2px; }

#current-song-play-img { height: 33px; }

audio { width: 100%; height: 45px; border-radius: 100px; }
audio::-webkit-media-controls-panel { background-color: #031926; }
audio::-webkit-media-controls-play-button { display: none; }
audio::-webkit-media-controls-current-time-display, audio::-webkit-media-controls-time-remaining-display { color: #dedede; text-shadow: none; }
audio::-webkit-media-controls-time-remaining-display { padding-right: 10px; }
audio::-webkit-media-controls-timeline { border-radius: 100px; background-color: #dedede; padding: 1px 1px; }
audio::-webkit-media-controls-mute-button { background-color: #707070; border-radius: 100px; }
audio::-webkit-media-controls-volume-slider { border-radius: 100px; background-color: #dedede; margin: 13px 10px; padding: 1px 1px; }
body::-webkit-scrollbar { display: none; }